.idea
.vscode/
build
install
log
data
images_with_arrow_*
scripts_old_legacy/videos
fit*
results*

# Ignore Python bytecode and cache files
**/__pycache__
**/*.pyc

# python
__pycache__/
*.pyc
__pycache__
scripts_old_legacy/__pycache__
*.pyo

# venv
venv/
.venv/